<%- include('./partials/head') %>

  <h1>Aanwezigheid</h1>
  <h2>Donderdag 22 Juni <%= currentTime %></h2>

  <!-- <p class="time">08:00</p>
  <input type="time">
  <p class="time">20:00</p> -->

  <section class="employees">
    <% employees.forEach(item=> { %>
      <div class="employees-per-one">
        <h2><%= item.name %></h2>

        <!-- foto uit de API -->
        <% if(item.avatar) { %>
          <img
            src="<%= item.avatar %>"
            loading="lazy"
            alt="fotoProduct"
            class="foto"
          />
        <!-- Placeholder foto-->
        <% }else{ %>
          <img
            src="/public/assets/werktijden-nl[2795].svg"
            alt="placeholder-werktijden"
            class="foto"
          />
          <% } %>


        <% if (punches) { %>
          <% const activeItemTime = [...punches].filter(timePunch => timePunch.item_id == item.id) %>
          <% console.log(activeItemTime) %>
          <% if(activeItemTime.length) { %>
            <p>Ingeklokt op: <%= activeItemTime[0].created_at %></p>
            <% if (item.type === 'clock_in') { %>
              <button class="clock-out-button" data-item-id="<%= item.id %>">Clock Out</button>
              <p>Uitgeklokt op: <span id="clockOutTime-<%= item.id %>"></span></p>
            <% } else if (item.type === 'clock_out') { %>
              <p>Uitgeklokt op: <%= activeItemTime[0].updated_at %></p>
            <% } %>
          <% } %>





    
    <div class="form-wrapper">

      
      <!-- Clock-in form -->
      
<form action="/clockin" method="post">
  <label for="employeeId"></label>
  <select id="employeeId" name="employeeId" required>
    <% employees.forEach((employee) => { %>
      <option value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
    <% }); %>
  </select>
<br>
  <label for="departmentId">Locatie nummer:</label>
  <input type="text" id="departmentId" name="departmentId" required>

  <button type="submit">Klok in</button>
  <%= currentTime %>
</form>

<!-- Clock-out form -->
<form action="/clockout" method="post">
  <label for="employeeId"></label>
  <select id="employeeId" name="employeeId" required>
    <% employees.forEach((employee) => { %>
      <option value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
    <% }); %>
  </select>
  <br>
  <label for="departmentId">Locatie nummer:</label>
  <input type="text" id="departmentId" name="departmentId" required>

  <button type="submit">Klok uit</button>
  <%= currentTime %>
</form>

     </div>
     <% } %>
    </div>
  <% }) %>



  </section>
</main>
<%- include('./partials/foot') %>