<%- include('./partials/head') %>

  <h1>Aanwezigheid</h1>

  <p class="time">08:00</p>
  <input type="time">
  <p class="time">20:00</p>

  <section class="employees">
    <% employees.forEach(item=> { %>
      <div class="employees-per-one">
        <h2><%= item.name %></h2>

        <!-- foto uit de API -->
        <% if(item.avatar) { %>
          <img
            src="<%= item.avatar %>"
            loading="lazy"
            alt="fotoProduct"
            class="foto"
          />
        <!-- Placeholder foto-->
        <% }else{ %>
          <img
            src="/public/assets/werktijden-nl[2795].svg"
            alt="placeholder-werktijden"
            class="foto"
          />
          <% } %>

        <h3>Ingeklokt</h3>
        <h3>Uitgeklokt</h3>

        <% if (punches) { %>
          <% const activeEmployeeTime = [...punches.data].filter(timePunch => timePunch.employee_id == item.id) %>
          <% console.log(activeEmployeeTime) %>
          <% if(activeEmployeeTime.length) { %>
            <p>Ingeklokt op: <%= activeEmployeeTime[0].timestamp %></p>
            <% if (item.type === 'clock_in') { %>
              <button class="clock-out-button" data-employee-id="<%= item.id %>">Clock Out</button>
              <p>Uitgeklokt op: <span id="clockOutTime-<%= item.id %>"></span></p>
            <% } else if (item.type === 'clock_out') { %>
              <p>Uitgeklokt op: <%= activeEmployeeTime[0].timestamp %></p>
            <% } %>
          <% } %>
        <% } %>
      </div>
    <% }) %>
  </section>
</main>
<%- include('./partials/foot') %>